*{
    margin: 0;
    padding: 0;
    color: yellow;
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    letter-spacing: 0.15em;
}
.background{
    width: 40%;
    height: 100%;
    margin: 0 30%;
    text-align: justify;
    color: #feda4a;
    transform: perspective(300px) rotateX(35deg);
}
h3{
    font-size: 40px;
    text-align: center;
}
h5{
    font-size: 30px;
    text-align: center;
}
p{
    width: 600px;
    margin: 0 auto;
}
.animation-wrapper{
    /*transform-style: preserve-3d;*/
    /*perspective-origin: center;*/
    /*transform: translateY(45%);*/
    animation: star-wars-animation 30s linear infinite;
}
@keyframes star-wars-animation {
    0%{
        transform: translateY(95%);
    }
    100%{
        transform: translateY(-200%);
    }
}