*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main-wrapper{
    width: 100%;
    background-image: url("./background.png");
    background-repeat: no-repeat;
}
.content{
    width: 1030px;
    margin: 0 auto;
}
/* Header */
.header-logo-contacts{
    padding: 25px 0;
}
.logo-white-house{
    float: left;
}
.logo-link{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.logo-text-milan{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}
.logo-text{
    width: 120px;
    float: left;
    margin-left: 5px;
}
.logo-link:hover{
    color: #F26522;
}
.logo-orange-house{
    float: left;
    display: none;
}
.logo-link:hover .logo-white-house{
    display: none;
}
.logo-link:hover .logo-orange-house{
    display: block;
}
.header-contacts{
    display: block;
    color: white;
    float: right;
    font-family: Roboto sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}
.header-contacts:hover{
    color: #F26522;
}
.header-contacts-email{
    margin-bottom: 15px;
    display: inline-block;
}
/* Main images + paragraphs */
.main-tours{
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 64px;
    grid-row-gap: 40px;
}
.main-tours-link{
    text-decoration: none;
    color: white;
    display: inline-block;
}
.main-tours-link:hover .main-tours-text{
    color: #F26522;
}
.main-tours-images{
    width: 300px;
    height: 220px;
    position: relative;
}
.main-tours-text{
    text-align: center;
    font-family: Roboto sans-serif;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    box-sizing: border-box;
}
.hidden-orange-block{
    background-color: #F26522;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    max-width: 300px;
    width: 100%;
    margin-top: -72px;
    z-index: -1;
    overflow: hidden;
}
.view-details:after{
    content: "";
    border-top: 2px solid white;
    border-right: 2px solid white;
    width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(45deg);
    margin-left: 10px;
}
.view-details{
    display: inline-block;
    margin-left: 128px;
    font-family: Roboto sans-serif;
    font-size: 18px;
    line-height: 14px;
}
.hidden-orange-block-text{
    font-family: Roboto sans-serif;
    font-size: 25px;
}
.main-tours-link:hover .hidden-orange-block{
    z-index: 0;
}
.copyright-text{
    text-align: center;
    font-family: Roboto sans-serif;
    font-size: 14px;
    line-height: 12px;
    color: white;
    padding: 50px 0 20px;
}