.container{
    width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html body{
    scroll-behavior: smooth;
}
/* Header */
.header-menu-architect{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    padding: 21px 30px;
    vertical-align: bottom;
}
.header-logo-title {
    font-family: Open Sans sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 0;
}
.header-logo-link{
    text-decoration: none;
}
.header-menu-list{
    display: flex;
}
.header-menu-items{
    font-family: Open Sans sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    padding: 25px 20px;
    list-style: none;
}
.header-button-search{
    background-color: #000000;
    border: 0;
    padding: 25px;
}
.header-background{
    background-image: url("images/background-images/header-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -240px;
}
.header-background-container{
    margin: 0 auto;
    height: 370px;
}
.header-menu-items:hover{
    color: #14B9D5;
}
.header-news-title{
    color: white;
    font-family: Open Sans sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    padding: 100px 0 40px;
}
.header-buttons{
    width: 365px;
    margin: 0 auto;
}
.btn{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 3px;
    font-family: Open Sans sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    color: white;
}
.btn-subscribe{
    background-color: #89CA62;
}
.btn-articles{
    background-color: #14B9D5;
    margin-left: 20px;
}
/* Most Popular Post*/
.title{
    padding: 50px 0;
    font-family: Open Sans sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
}
.section-popular-hotels{
    background-color: #F2F2F2;
    padding-bottom: 50px;
}
.section-popular-hotels-container{
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    max-height: 1000px;
}
.section-popular-hotels-article{
    flex: auto;
    margin: 0 30px 30px 30px;
}
.popular-hotels-text{
    font-family: Open Sans sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    background-color: white;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 370px;
    margin: -4px 0 30px 0;
}
/* Section Popular Clients*/
.section-popular-clients{
    background-image: url("images/background-images/popular-clients-background.png");
    height: 400px;
}
.popular-clients-blue-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: 0;
    margin: 0 auto 100px;
}
.popular-clients-logo{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.popular-clients-logo img{
    vertical-align: middle;
}
/* Top Rated*/
.top-rated-title{
    padding: 50px 0;
    font-family: Open Sans sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
}
.top-rated-hotels-gallery{
    display: flex;
}
/* Hot News */
.hot-news-section{
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4, 270px);
    grid-template-areas:    "a a a b"
                            "a a a b"
                            "c c d d"
                            "e e f f"
                            "g h h h";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.hot-news-paragraphs-title{
    font-size: 20px;
    width: 277px;
    text-align: center;
    background-color: #F9F7F7;
}
.hot-news-section > article > img{
    float: left;
}
.hot-news-paragraphs{
    background-color: #F9F7F7;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.small-paragraph{
    width: 380px;
    height: 260px;
}
.big-paragraph{
    width: 554px;
}
.grid-prophecy{
    grid-area: a;
}
.grid-nebula{
    grid-area: b;
}
.grid-western{
    grid-area: c;
}
.grid-grand{
    grid-area: d;
}
.grid-wanderlust{
    grid-area: e;
}
.grid-twin{
    grid-area: f;
}
.grid-prism{
    grid-area: g;
}
.grid-kings{
    grid-area: h;
}
/* Footer */
.footer{
    display: flex;
    background-color: black;
    color: white;
    font-size: 13px;
    justify-content: space-around;
    padding: 28px 0;
    margin-top: 70px;
}
/*Links*/
.menu-links-list{
    display: none;
    list-style: none;
    cursor: pointer;
    position: absolute;
    top: 67px;
    left: 14px;
}
.menu-links-items{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    background-color: #313131;
}
.menu-links-items > a{
    text-decoration: none;
    color: white;
}
.header-menu-items:last-child:hover .menu-links-list{
    display: block;
}
.header-menu-items:last-child{
    position: relative;
}

/*Hide/Show*/
.btn-toggle-top-rated{
    padding: 10px 20px;
    margin: 0 auto;
    background-color: green;
    outline: 0;
    border: 0;
}
/* scroll top*/
#scroll-top{
    position: fixed;
    bottom: 0;
    right: 0;
    content: "";
    width: 30px;
    height: 30px;
    background-color: red;
    display: none;
}