*{
    margin:0;
    padding:0;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.menu-items{
    list-style: none;
    padding: 25px 50px;
}
.menu-links{
    text-decoration: none;
    color:red;
    font-size: 20px;
    letter-spacing: 2.7px;
}
.simple-photo{
    width: 100%;
}
.heading{
    text-align: center;
    margin: 50px 0;
}
.capslock{
    text-transform: uppercase;
}
.paragraph-text{
    text-align: center;
    margin: 0 70px 30px 70px;
    letter-spacing: 2.4px;
    font-weight: 400;
}
.get-started{
    padding: 20px 40px;
    background: #FF0000;
    border-radius: 4px;
    border: 0;
    margin: 30px 500px;
    color: white;
    letter-spacing: 1.8px;
    font-size: 12px;
    white-space: nowrap;
}
.copyright{
    text-align: right;
    letter-spacing: 2.4px;
    padding: 40px 100px
}