*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.main-wrapper{
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-menu{
    background-color: rgba(0,0,0,0.6);
    display: flex;
    color: white;
}
.header-title{
    display: inline-block;
    padding: 20px 70px;
    font-size: 22px;
}
.header-title:hover{
    color: #01813F;
}
.header-menu-list{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 70px;
    justify-content: flex-end;
    width: calc(100% - 240px);

}
.header-menu-items{
    padding: 20px;
    font-size: 20px;
}
.modal-window{
    width: 445px;
    background-color: white;
    margin: calc(50vh - 330px) auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.container{
    width: 325px;
    margin: 0 auto;
}
.modal-window-title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 30px 0 20px 0;
    position: relative;
    vertical-align: top;
    align-items: center;
}
.login-title{
    font-size: 14px;
    color: #3CB878;
}
.checkbox-agreement{
    color: rgba(60,184,120,0.8);
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.modal-window-title:before{
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -60px;
    top: 3px;
}
.btn-login-facebook{
    background-color: #305DB8;
}
.btn-login-facebook:hover{
    background-color: #022263;
    outline: 0;
}
.facebook-image{
    border-right: 1px solid rgba(10,22,47,0.1);
    padding: 7px 20px;
}
.btn-login-google{
    background-color: #DF4A32;
}
.btn-login-google:hover{
    background-color: #AB1F09;
    outline: 0;
}
.google-image{
    border-right: 1px solid rgba(43,13,9,0.1);
    padding: 7px 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.buttons button{
    display: flex;
    border: 0;
    border-radius: 5px;
    color: white;
    width: 160px;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.btn-create-account{
    background-color: rgba(60,184,120,0.8);
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 16px;
    margin: 20px 0;
    height: 45px;
}
.btn-create-account:hover{
    background: #01813F;
    outline: 0;
}
form > input{
    height: 25px;
    padding: 10px 45px;
    margin: 12px 0;
    background: #ffffff;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    color: #BEBEBE;
}
form > input:focus{
    outline: 0;
    color: #434343;
    box-shadow: 0px 3px 8px 0px #00000036;
}
.login-title:hover{
    color: #01813F;
    text-decoration: underline;
}
.checkbox-agreement:hover{
    color: #01813F;
    text-decoration: underline;
}