.main-wrapper{
    width: 1280px;
    margin: 0 auto;
}
.title-ramda{
    margin-bottom: 40px;
}
.link-ramda{
    text-decoration: none;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 94px;
    text-align: center;
    color: black;
}
.blue-ramda{
    color: deepskyblue;
}
.header-menu{
    background-color: #35444F;
    color: white;
    font-size: 24px;
}
.header-menu-list{
    display: flex;
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
}
.header-menu-items{
    border-left: 1px solid white;
}
.header-menu-items:last-child{
    border-right: 1px solid white;
}
.header-menu-links{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 23px 40px;
}
.header-menu-links:hover{
    background-color: #222F3A;
}
.sidebar-ramda{
    display: inline-block;
    width: 350px;
    margin-top: 50px;
    font-size: 27px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.sidebar-items{
    box-sizing: border-box;
    padding: 25px 50px;
    font-size: 27px;
}
.sidebar-links{
    text-decoration: none;
    color: #485863;
}
.sidebar-items:hover{
    text-align: center;
    font-weight: bold;
    color: #35444F;
}
.section-ramda-img{
    width: 885px;
    height: 530px;
    box-sizing: border-box;
    border: 1px solid #000000;
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;
    vertical-align: top;
}
.ramda-img-goat{
    margin: 75px 280px;
}
.ramda-article{
    width: 885px;
    float: right;
}
.ramda-article-text{
    margin-top: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.clearfix{
    clear: right;
    height: 1px;
}
.ramda-footer{
    background: rgba(99, 105, 110, 0.48);
    margin-top: 50px;
    position: relative;
}
.footer-list{
    display: flex;
    flex-wrap: nowrap;
}
.footer-items{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    box-sizing: border-box;
    padding: 20px;
}
.footer-copyright{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-links{
    text-decoration: none;
    padding-bottom: 5px;
    color: black;
}
.footer-links:hover{
    color: blue;
    border-bottom: 1px solid blue;
}